#contact
  %br
  %br
  %h5 Contacto
  %br
  %br
  %table
    %tbody
    %tr
      %th(width="200px")
        Departamento de informática
    %tr
      %th
        Encargado del departamento de informática:
    %tr
      %td Ing. Jorge Alberto Delgado González
    %tr
      %td Número de extensión: 
    %tr
      %td
    %tr
      %td Lic. Nancy Karina Diaz
    %tr
      %td Número de extensión:
    %tr
      %td
    %tr
      %th Desarrolladores de la aplicación:
    %tr
      %td Juan Antonio Chávez Valencia
    %tr
      %td Número de contacto: 312-112-5642
    %tr
      %td Correo electrónico: cavjzz@gmail.com
    %tr
      %td
    %tr
      %td Jorge Robles Grajeda
    %tr
      %td Número de contacto: 312-118-1572
    %tr
      %td Correo electrónico: flashdevlin@gmail.com
