#posform
  #pagprin
    #titulo
      %h1(align="center") Control de Parque Vehicular
    #info
      #texto1
        %br
        %p Aplicación desarrollada en plataforma web con base en la necesidad de resolver la problemática de la SAGARPA de acuerdo al control de entradas y salidas de vehiculos con sus correspondientes permisos diarios y permisos de no pernocta.
        %p La aplicación de Control de parque vehicular permite al usuario generar permisos de uso diario y permisos de no pernocta para autorizar el uso de vehiculos oficiales.
        %p Proyecto a cargo del Departamento de informática con apoyo de la Subdelegación Administrativa Delegación Colima y prestadores de servicio social del Instituto Tecnológico de Colima.
      #imgprin
        = image_tag("Vehiculo1.jpg")
    #muro(align="center")
      #img2 
        = image_tag("Vehiculo3.jpg")
      #img1
        = image_tag("Vehiculo2.jpg")

