#posform
  #pagprin
    #titulo
      %h1(align="center") Control de Parque Vehicular
    #info
      #texto1
        %p Aplicación web para el control del parque vehicular, cuya función es crear los formatos correspondientes de permisos para uso de vehiculos (Permiso diario y permiso de no pernocta). Departamento de informatica.
        %p Aplicación web para el control del parque vehicular, cuya función es crear los formatos correspondientes de permisos para uso de vehiculos (Permiso diario y permiso de no pernocta). Departamento de informatica.
        %p Aplicación web para el control del parque vehicular, cuya función es crear los formatos correspondientes de permisos para uso de vehiculos (Permiso diario y permiso de no pernocta). Departamento de informatica.
        %p Aplicación web para el control del parque vehicular, cuya función es crear los formatos correspondientes de permisos para uso de vehiculos (Permiso diario y permiso de no pernocta). Departamento de informatica.
      #imgprin
        = image_tag("Vehiculo1.jpg")
    #muro(align="center")
      #img2 
        = image_tag("Vehiculo3.jpg")
      #img1
        = image_tag("Vehiculo2.jpg")

