// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tabla1{
  border:solid black 1px;
  background-color:#d17100;
}

#tabla2{
  border:solid black 1px;
  background-color:#d17100;
}

#posform{
  position:relative;
  left:15px;
}

#pagprin{
  witdh:1000px;
  height:700px;
}

#titulo{
  width:1000px;
  height:50px;
  font-family:"Helvetica";
  font-size:15px;
}

#info{
  width:1000px;
  height:400px;
}

#imgprin{
  width:500px;
  height:400px;
  float:left;
}

#texto1{
  width:500px;
  height:400px;
  float:right;
  font-size:15px;
  font-family:"Helvetica";
}

#muro{
  width:1000px;
  height:300px;
}

#img2{
  width:450px;
  height:260px;
  float:left;
}
#img3{
  width:450px;
  height:260px;
  float:right;
}
