// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tabla1{
  border:solid black 1px;
  background-color:#d17100;
}

#tabla2{
  border:solid black 1px;
  background-color:#d17100;
}
