// Place all the styles related to the solicitantes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#formpos{
  position:relative;
  left:15px;
}

#show-history-1{
  float:left;
  width:480px;
}

#show-history-2{
  float:left;
  width:480px;
}
