#show-history(align = "center")
  %h3 Seleccione el tipo de permiso que desea ver
  #show-history-1
    = form_tag "/solicitante/show_permiso_diario", :remote => :true do 
      = button_to "Mostrar permisos diarios"
  #show-history-2
    = form_tag "/solicitante/show_permiso_pernocta", :remote => :true do 
      = button_to "Mostrar permisos de no pernocta"

#mostrar_permisos
